html {
  scroll-behavior: smooth;
}
:root {
    font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.root {
  width: 100%;
  height: 100%;
  padding: 0;
}
.app-main {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.nav-menu {
  padding: 16px 8px;
  height: 36px;
  font-size: 1.3em;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: transparent;
}
.logo-container {
  position: absolute;
  display: flex;
  top: 36px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo-container img {
  height: 80%;
  width: 80%;
  display: block;
}
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu li {
  float: left;
  padding: 0 0 0 24px;
  cursor: pointer;
}
.nav-menu li a {
  color: #FB8500;
  text-decoration: none;
}
.main-menu {
  float: right;
  margin-right: 32px;
}

.hero-container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.hero-left {
  width: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #FFB703;
}
.hero-left img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: 16px;
}
.hero-right {
  flex-shrink: 0;
  flex-grow: 0;
  width: 50%;
  background-color: #fff
}
.hero-profile {
  width: 100%;
  object-fit: contain;
}

.hero-intro {
  z-index: 2;
  position: absolute;
  top: 200px;
  text-align: center;
  padding: 32px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 400px;
  color: #023047;
}
.hero-name {
  font-size: 4em;
  font-weight: 800;
}
.hero-welcome {
  font-size: 1.2em;
  font-weight: 600;
}
.job-description {
  font-weight: 800;
  font-size: 2em;
}
.about-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.education-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.education-menu {
  flex: 1;
  flex-basis: 30%;
  top: 0;
}
.education-sticky {
  position: sticky;
  top: 0;
  font-size: 1.8em;
}
.education-menu ul {
  margin: 0;
  padding: 32px;
  list-style: none;
}
.education-menu li a {
  color: #FB8500;
  text-decoration: none;
}
.education-content {
  flex: 2;
  flex-basis: 70%;
}
.education-content h2 {
  font-size: 2.5em;
}
.resume-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.resume-list li {
  padding: 8px;
}

.resume-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.resume-icon {
  width: 100px;
}
.resume-icon img {
  max-width: 76px;
  max-height: 76px;
  object-fit: contain;
}
.resume-content {
  width: 100%;
}
.resume-content h3 {
  color: #023047;
}
.resume-content h1 {
  color: #023047;
}
.resume-content h4 {
  color: #219EBC;
}
.about-me {
  padding: 16px;
}
.footer {
  width: 100%;
  display: flex;
  background-color: #023047;
  flex-wrap: wrap;
  padding: 48px 0;
}
.footer-col {
  flex: 1;
  color: #8ECAE6;
}
.footer-legal-notice {
  flex: 3;
  flex-basis: 100%;
  font-size: 14px;
  color: #8ECAE6;
  background-color: #023047;
  text-align: center;
  padding: 32px 0;
}
.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 48px;
}
.skill-item {
  background-color: #FB8500;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
}
@supports (animation-timeline: view()) {
  .scale-down-logo {
    animation-timeline: scroll();
    -webkit-animation: scale-logo 3s ease 0s 1 normal forwards;
    animation: scale-logo 3s ease 0s 1 normal forwards;
  }
  @keyframes scale-logo {
    from {
      transform: scale(1.0) translate(0);
    }
    to {
      transform: scale(0.1) translate(-200px, -200px);
    }
  }
}

@keyframes move-logo {
  from {
    transform: translate(0);
  }
  to {
    transform:translate(-50%, -50%)
  }
}
