/*
  https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500
 */
html {
  scroll-behavior: smooth;
}

:root {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}
.root {
  width: 100%;
  height: 100%;
  padding: 0;
}
.app-main {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.nav-menu {
  padding: 16px 0;
  height: 36px;
  font-size: 1.3em;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: transparent;
}
.logo-container {
  position: absolute;
  display: flex;
  top: 36px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo-container img {
  height: 80%;
  width: 80%;
  display: block;
}
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu li {
  float: left;
  padding: 0 0 0 24px;
  cursor: pointer;
}
.nav-menu li a {
  color: #FB8500;
  text-decoration: none;
}
.main-menu {
  float: right;
  padding-right: 32px;
}

.hero-container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.hero-left {
  width: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #FFB703;
}
.hero-left img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: 16px;
}
.hero-right {
  flex-shrink: 0;
  flex-grow: 0;
  width: 50%;
  background-color: #fff
}
.hero-profile {
  width: 100%;
  object-fit: contain;
}

.hero-intro {
  z-index: 2;
  position: absolute;
  top: 200px;
  text-align: center;
  padding: 32px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 400px;
  color: #023047;
}
.hero-name {
  font-size: 4em;
  font-weight: 800;
}
.hero-welcome {
  font-size: 1.8em;
  font-weight: 600;
}
.job-description {
  margin-top: 32px;
  font-weight: 800;
  font-size: 2em;
}
.about-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.education-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.education-menu {
  flex: 1;
  flex-basis: 30%;
  top: 0;
}
.education-sticky {
  position: sticky;
  top: 48px;
  font-size: 1.8em;
}
.education-menu ul {
  margin: 0;
  padding: 32px;
  list-style: none;
}
.education-menu li a {
  color: #FB8500;
  text-decoration: none;
}
.education-content {
  flex: 2;
  flex-basis: 70%;
}
.education-content h2 {
  font-size: 2.5em;
}
.resume-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.resume-list li {
  padding: 8px;
}

.resume-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.resume-icon {
  width: 100px;
}
.resume-icon img {
  max-width: 76px;
  max-height: 76px;
  object-fit: contain;
}
.resume-content {
  width: 100%;
}
.resume-content h3 {
  color: #023047;
}
.resume-content h1 {
  color: #023047;
}
.resume-content h4 {
  color: #219EBC;
}
.resume-summary ul {
  list-style-type: square;
}
.about-me {
  padding: 16px;
}
.footer {
  width: 100%;
  display: flex;
  background-color: #023047;
  flex-wrap: wrap;
  padding: 48px 0;
}
.footer-col {
  flex: 1;
  color: #8ECAE6;
}
.footer-legal-notice {
  flex: 3;
  flex-basis: 100%;
  font-size: 14px;
  color: #8ECAE6;
  background-color: #023047;
  text-align: center;
  padding: 32px 0;
}
.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 48px;
}
.skill-item {
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
}
.skill-bg1 {
  background-color: #FB8500;
}
.skill-bg2 {
  background-color: #FFB703;
}
.skill-bg3 {
  background-color: #023047;
}
.skill-bg4 {
  background-color: #219EBC;
}
.skill-bg5 {
  background-color: #8ECAE6;
}

.navigation-menu {
  padding: 16px 0;
  font-size: 1.3em;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 36px;
  z-index: 4;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.horizontal-menu {
  flex: 1;
}
.nav-logo {
  flex: 1;
}
.nav-logo a {
  margin-left: 32px;
}
.navigation-menu ul {
  float: right;
  margin: 0 32px 0 0;
  padding: 0;
  list-style: none;
}
.navigation-menu li {
  float: left;
  padding: 0 0 0 24px;
  cursor: pointer;
}
.navigation-menu li a {
  color: #FB8500;
  text-decoration: none;
}

.shadow {
  box-shadow: 0 3px 8px -5px #c1c1c1;
  animation: fadein 0.2s ease-in
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* V2 styles */
.app-header {
  /*background-color: #FD774A;*/
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-image: url('http://localhost:4001/public/assets/header_bg.png');
  background-size: cover;
}
.experience {
  height: 600px;
  width: 100%;
}
.app-navbar {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flew-wrap: nowrap;
}
.app-navbar-logo {
  flex-basis: 20%;
  flex-shrink: 0;
  padding-left: 32px;
  align-content: center;
  height: 100px;
}
.app-navbar-menu {
  flex-basis: 60%;
  align-content: center;
  justify-content: center;
  flex-shrink: 0;
}
.app-navbar-right {
  flex-basis: 20%;
  flex-shrink: 0;
}
.horizontal-menu ul {
  padding: 0;
  list-style: none;
}
.horizontal-menu ul li {
  float: left;
  padding: 0 0 0 24px;
  cursor: pointer;
}
.horizontal-menu ul li a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}
.app-intro {
  width: 100%;
  height: 100%;
  display: flex;
}
.profile-container {
  width: 33%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
.profile-img-container {
  width: 300px;
  height: 300px;
  display: flex;
}
.profile-img {
  width: 300px;
  height: 300px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.app-intro-about {
  width: 67%;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro-container {
  width: 100%;
}
.app-intro-socials {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100px;
  display: flex;
  color: #fff;
  padding-bottom: 32px;
}
.socials-left {
  display: flex;
  flex-basis: 33%;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
}
.socials-middle {
  display: flex;
  flex-basis: 34%;
  flex-shrink: 0;
  justify-content: flex-end;
  text-align: right;
  flex-direction: row;
}
.socials-right {
  display: flex;
  flex-basis: 33%;
  flex-shrink: 0;
  text-align: right;
  flex-direction: row;
  justify-content: flex-end;
}

.social-logo-left {
  width: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 32px;
}
.social-details {
  flex-grow: 1;
  flex-shrink: 1;
  padding-right: 24px;
  display: flex;
  align-items: center;
}
.social-details-left {
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 24px;
  display: flex;
  align-items: center;

}
.social-logo-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  margin-right: 32px;
}
.social-logo-container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.social-details-heading {
  font-size: 1.1em;
}
.social-details-link {
  margin-top: 16px;
  font-size: 1.5em;
  color: #fff;
}
